<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Climate Adaptation Map</title>
<script src="
https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="mapping.js"></script>


<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Climate Adaptation Map">
<meta name="twitter:description" content="These companies are working on climate adaptation">
<meta name="twitter:creator" content="@CassandraXia">
<meta name="twitter:image" content="https://cassandraxia.com/climate-draft-map/preview.png">

<!-- Open Graph data -->
<meta property="og:title" content="Climate Adaptation Map">
<meta property="og:type" content="website">
<meta property="og:url" content="https://cassandraxia.com/climate-draft-map/">
<meta property="og:image" content="https://cassandraxia.com/climate-draft-map/preview.png" />
<meta property="og:description" content="These companies are working on climate adaptation">
</head>

<body>


<div id="app">

<div style="display:grid; grid-template-columns: 7fr 3fr;">

    <div>
        <h1>These companies are working on climate adaptation</h1>
        <p style="font-size:14px; max-width: 800px">TODO: explain and link  </div>

    <div></div>

    <div>
    <div v-for="solution in solutions" :key="solution" style="margin-top:16px" @click="clickOnSolution(solution)">

        <div class="active-solution" v-if="activeSolution === solution" :style="activeSolutionHeight">
            <a :href="makeUrl(company.website)" target="_blank" class="company active-company" v-for="company in mapping[solution]" :key="company.name" :title="company.description" :style="companyStyle(company)" :class="{'activejobs': company['active_jobs'] > 0}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{company.name}}</a>
 
        </div>
        <template v-else>
            <a v-for="company in mapping[solution]" :key="company.name" class="company" :title="company.description" :style="companyStyle(company)" :href="makeUrl(company.website)" target="_blank" :class="{'activejobs': company['active_jobs'] > 0}">
            </a>    
        </template>

        <!-- No companies, sp no circles, but still keep height-->
        <div v-if="mapping[solution] === undefined" style="height: 20px">

            <div v-if="activeSolution === solution">{{solution}} Add your own.</div>

        </div>


        <div class="bar" ><span style="font-weight:bold; text-transform: capitalize">{{ solution }}</span> </div>

    </div>
    </div>

    <div>        
    </div>


    <div class="legend">

<!--        <div style="margin: 4px 0">Size of company by employees</div>-->
        <div v-for="(color, ind) in colors" :key="color">
            <div style="height: 20px; width: 20px; display: inline-block; border-radius: 50%;" :style="{'background-color': color}">
            </div>
            {{ labels[ind] }}

        </div>

        <div style="margin-top: 16px">
            If you want to add a company or a fix a category, you can do so <a class="link" href="https://docs.google.com/spreadsheets/d/130GjTo-i4gZseMDhTcaPOglrnsMvW35QH1VeHDPKbXM/edit?usp=sharing">here</a>.
        </div>
        
    </div>

</div>

</div>
</body>

<script>
// #1BC6CB - baby blue
// 3B6CA8 - serious blue


function lerp(x, a, b, c, d){
	const scale = (x-a)/(b-a);
	return (d-c)*scale + c;
}

const solutions = _.sortBy(_.keys(mapping));
const colorMapping = {
    'unknown': '#fff',
    'b2c': '#6db1d6',
    'b2b': '#2b7298',
    'b2government': '#023858'
};

Vue.createApp({
    computed: {
        activeSolutionHeight(){
            if (!this.mapping[this.activeSolution]){
                return {'margin-top': '20px'};
            }
            const maxLengthSolution = _.max(this.mapping[this.activeSolution].map(company => company.name.length));
            return {'margin-top': maxLengthSolution * 8 + 20 + 'px'};
        },
        isMobile(){
            return this.windowWidth < 480;
        }
    },
    data() {
        return {
            labels : ['Unknown', 'B2C', 'B2B', 'B2Government'],
            // colors: ['#eff3ff','#c6dbef','#9ecae1','#6baed6','#3182bd','#08519c'],
            // colors: [ '#fff', '#d0d1e6', '#a6bddb', '#74a9cf', '#2b8cbe', '#045a8d'],

            colors: _.values(colorMapping),
            solutions: solutions,
            mapping: mapping,
            windowWidth: window.innerWidth * .6,
            windowHeight: window.innerHeight,
            activeSolution: solutions[0]
        };
    },
    mounted(){
      if (!this.isMobile){
          this.activeSolution = this.solutions[0];
      }
    },
    methods: {
        companyStyle(company){
            const datum = {}

            if (company.distribution === undefined || isNaN(company.distribution)){
                datum['background-color'] = '#fff';
            }
            if (company.distribution.length == 1){
                datum['background-color'] = colorMapping[company.distribution[0]];
            }
            if (company.distribution.length >= 2) {
                const color0 = colorMapping[company.distribution[0]];
                const color1 = colorMapping[company.distribution[1]];
                datum['background'] = `linear-gradient(to right, ${color0} 0%, ${color0} 50%, ${color1} 50%, ${color1} 100%)`;
            }

            // todo: add in roundedness?

            return datum;
        },
        binIndex(value){
            // Define custom bin edges
            const binEdges = [10, 50, 200, 1000, 5000, Infinity]; // Note the use of Infinity for 5001+
            if (!value){
                return 0;
            }

            return _.sortedIndex(binEdges, value);
        },
        makeUrl(str){
            return str;
        },
        clickOnSolution(solution){
            if (!this.isMobile){
                this.activeSolution = solution;
            }
        }
    }
}).mount('#app');
</script>

<style>
*{
    font-family: sans-serif;
}

body{
    color: #fff;
    background-color: #000;
    padding-left: 16px;
}

.bar{
    height: 20px;
    background-color: #1BC6CB;
    white-space: nowrap;
    overflow: visible;
    margin: 4px 0;
    padding-left: 4px;
    cursor: pointer;
}

.bar:hover{
    background-color: #3dd4d9;
}

.company{
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active-company{
    /* Rotate text 90 degrees counterclockwise */
    transform: rotate(-90deg);
    /* Additional styling to handle layout */
    white-space: nowrap; /* Prevent text wrapping */
}

a{
  text-decoration: none;
  color: white;
}

.active-company:hover{
    font-weight: bold;
}

.link{
    text-decoration: underline;
}

.activejobs{
    border: 2px solid orange;
}


.active-solution .activejobs{
    position:relative;
    top: 2px;
}

.legend{
    position:fixed; left:70%; margin-top: 150px; font-size: 12px;
}

@media (max-width: 800px){
  .legend{
    bottom: 20px;
  }
}
</style>